<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginCheckFilter</filter-name>
        <filter-class>Filter.LoginCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailsServlet</servlet-name>
        <servlet-class>Controller.ViewProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetUserPasswordServlet</servlet-name>
        <servlet-class>Controller.ResetUserPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryListServlet</servlet-name>
        <servlet-class>Controller.GetCategoryListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSupplierListServlet</servlet-name>
        <servlet-class>Controller.GetSupplierListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryDetailsServlet</servlet-name>
        <servlet-class>Controller.GetCategoryDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSupplierDetailsServlet</servlet-name>
        <servlet-class>Controller.GetSupplierDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewProductServlet</servlet-name>
        <servlet-class>Controller.addNewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>Controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>Controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>Controller.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCartInfoServlet</servlet-name>
        <servlet-class>Controller.GetCartInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <servlet-class>Controller.RemoveItemFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartItemQuantityServlet</servlet-name>
        <servlet-class>Controller.UpdateCartItemQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderListServlet</servlet-name>
        <servlet-class>Controller.GetOrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailedOrderServlet</servlet-name>
        <servlet-class>Controller.GetDetailedOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailsServlet</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetUserPasswordServlet</servlet-name>
        <url-pattern>/resetPwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryListServlet</servlet-name>
        <url-pattern>/GetCategoryListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSupplierListServlet</servlet-name>
        <url-pattern>/GetSupplierListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryDetailsServlet</servlet-name>
        <url-pattern>/GetCategoryDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSupplierDetailsServlet</servlet-name>
        <url-pattern>/GetSupplierDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewProductServlet</servlet-name>
        <url-pattern>/addNewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/AddItemToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCartInfoServlet</servlet-name>
        <url-pattern>/GetCartInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <url-pattern>/RemoveItemFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartItemQuantityServlet</servlet-name>
        <url-pattern>/UpdateCartItemQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderListServlet</servlet-name>
        <url-pattern>/GetOrderListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailedOrderServlet</servlet-name>
        <url-pattern>/GetDetailedOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
